.App {
  background-color: #111;
  color: white;
}

.App-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #111;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.App-logo {
  width: 100px;
  object-fit: contain;
}

.App-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.banner {
  background-size: cover;
  background-position: center center;
  height: 448px;
  color: white;
  padding: 60px 20px;
  position: relative;
  background-image: url("https://image.tmdb.org/t/p/original/9vpmF4Z4f2F53AZfAovtW2duHno.jpg");
}

.banner__contents {
  max-width: 700px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 600;
}

.banner__buttons {
  margin-top: 20px;
}

.banner__button {
  background-color: white;
  color: black;
  font-weight: 600;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

.banner--fadeBottom {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

.row {
  margin-left: 20px;
  margin-top: 20px;
}

.row h2 {
  font-size: 1.8rem;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px 0;
}

.row__poster {
  max-height: 250px;
  object-fit: contain;
  margin-right: 10px;
  transition: transform 0.2s ease-in;
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posterLarge {
  width: 100%;
  max-width: 200px;
}
